.mobile-phone {
  margin: auto;
  padding: 10px 10px 30px;
  width: 320px;
  height: 600px;
  box-shadow: 0 0 20px #e2e2e2;
  border-radius: 30px;
  background-color: black;
}

.screen {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 30px;
  overflow-y: auto;
}

.brove {
  width: 120px;
  height: 20px;
  background: white;
  position: absolute;
  margin: 0 90px;
  border-radius: 0 0 20px 20px;
  background-color: black;
}

.speaker {
  width: 30px;
  height: 5px;
  background: #d2d2d2;
  display: block;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}
