@media (prefers-color-scheme: light) {
	:root {
		--navbar-background-color: #F7F7F7;
		--header-text-color: #A48A7B;
		--paragraph-text-color: #0C255D;
		--timeline-marker-background-color: #0C255D;
		--timeline-marker-text-color: white;
		--timeline-header-background-color: #A48A7B;
		--contact-title-text-color: #0C255D;
	}
}

[data-theme=dark], .theme-dark {
	--navbar-background-color: black;
	--header-text-color: #F7F7F7;
	--paragraph-text-color: #A48A7B;
	--timeline-marker-background-color: #DDE582;
	--timeline-marker-text-color: black;
	--timeline-header-background-color: #EB5153;
	--contact-title-text-color: #F7F7F7;
}

body {
	font-family: "Inter", serif;
}

h4 {
	color: var(--header-text-color) !important;
}

p, li {
	color: var(--paragraph-text-color) !important;
}

.navbar {
	background-color: var(--navbar-background-color);
}

.navbar img {
	height: 80px;
	max-height: inherit !important;
}

.hero {
	background-color: #0C255D;
}

.hero-body {
	background-image: url(../img/header.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

@media (max-width: 1023px) {
	.hero-body {
		background-image: url(../img/header.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-color: rgba(12, 37, 93, 0.6);
		background-blend-mode: darken;
	}
}

.has-background-dark-blue {
	background-color: #0C255D;
}

.has-background-green {
	background-color: #DDE582;
}

.has-background-brown {
	background-color: #A48A7B;
}

.has-text-red {
	color: #EB5153;
}

.has-text-dark-blue {
	color: #0C255D;
}

.has-text-whatsapp-green{
	color: #25D366 !important;
}

.column.is-vcentered {
	margin-top: auto;
	margin-bottom: auto;
}

.timeline-marker {
	background-color: var(--timeline-marker-background-color) !important;
	border-color: var(--timeline-marker-background-color) !important;
	color: var(--timeline-marker-text-color);
}

.timeline-header span {
	background-color: var(--timeline-header-background-color);
}

.timeline img {
	max-height: 100px;
}

#contact i {
	color: var(--contact-title-text-color);
}

#footer-img {
	background-image: url(../img/footer.jpg);
	height: 30vh;
	background-size: cover;
	background-position: center center;
}