body {
	font-family: "Inter", serif;
}

h4 {
	color: #A48A7B !important;
}

p {
	color: #0C255D !important;
}

.navbar {
	background-color: #F7F7F7;
}

.navbar img {
	height: 80px;
	max-height: inherit !important;
}

.hero {
	background-color: #0C255D;
}

.hero-body {
	background-image: url(../img/header.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

@media (max-width: 1023px) {
	.hero-body {
		background-image: url(../img/header.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-color: rgba(12, 37, 93, 0.6);
		background-blend-mode: darken;
	}
}

.has-background-dark-blue {
	background-color: #0C255D;
}

.has-background-green {
	background-color: #DDE582;
}

.has-text-red {
	color: #EB5153;
}

.has-text-dark-blue {
	color: #0C255D;
}

.has-text-whatsapp-green{
	color: #25D366;
}

.column.is-vcentered {
	margin-top: auto;
	margin-bottom: auto;
}

#screenshots {
	background: linear-gradient(0deg, #F7F7F7 30%, white 0%);
}

#footer-img {
	background-image: url(../img/footer.jpg);
	height: 30vh;
	background-size: cover;
	background-position: center center;
}