@media (prefers-color-scheme: light) {
	:root {
		--header-text-color: #A48A7B;
		--paragraph-text-color: #0C255D;
		--contact-title-text-color: #0C255D;
		--gray-background-color: #F0F2F4;
	}
}

[data-theme=dark], .theme-dark {
	--header-text-color: #F7F7F7;
	--paragraph-text-color: #A48A7B;
	--contact-title-text-color: #F7F7F7;
	--gray-background-color: #484849;
}

body {
	font-family: "Google Sans Flex", serif;
}

p, li {
	color: var(--paragraph-text-color) !important;
}

.navbar img {
	height: 80px;
	max-height: inherit !important;
}

/* Mobile styles */
@media (max-width: 1023px) {
	.p-8, .p-7, .p-6, .navbar {
		padding: 2rem !important;
	}

	.px-6 {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}

.has-background-dark-blue {
	background-color: #0C255D;
}

.has-background-green {
	background-color: #DDE582;
}

.has-background-brown {
	background-color: #A48A7B;
}

.has-background-gray {
	background-color: var(--gray-background-color);
}

.has-background-red {
	background-color: #EB5153;
}

.has-background-image {
	background-size: cover;
	background-repeat: no-repeat;
}

.has-text-red {
	color: #EB5153;
}

.has-text-dark-blue {
	color: #0C255D;
}

.has-text-whatsapp-green {
	color: #25D366 !important;
}

.button.is-red {
	background-color: #EB5153;
	border-color: #EB5153;
}

.button.is-dark-blue {
	background-color: #0C255D;
	border-color: #0C255D;
}

.has-line-height-1-2 {
	line-height: 1.2;
}

.has-line-height-1-7 {
	line-height: 1.7;
}

.p-7 {
	padding: 4.5rem;
}

.p-8 {
	padding: 6rem;
}

.px-7 {
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}

.px-8 {
	padding-left: 6rem;
	padding-right: 6rem;
}

#contact i {
	color: var(--contact-title-text-color);
}

#footer-img {
	background-image: url(../img/footer.jpg);
	height: 30vh;
	background-size: cover;
	background-position: center center;
}